<p class="social-title">Социальные сети</p>

<div class="social-list">

  <a class="social-item" href="https://vk.com/kod">
    {{#if _icons}}<i class="fab fa-vk"></i>{{/if}}{{#if _names}}ВКонтакте{{/if}}
  </a>

  <a class="social-item" href="https://t.me/d_code">
    {{#if _icons}}<i class="fab fa-telegram-plane"></i>{{/if}}{{#if _names}}Telegram{{/if}}
  </a>

  <a class="social-item" href="https://www.instagram.com/kod_ru/">
    {{#if _icons}}<i class="fab fa-instagram"></i>{{/if}}{{#if _names}}Instagram{{/if}}
  </a>

  <a class="social-item" href="https://twitter.com/durovcode">
    {{#if _icons}}<i class="fab fa-twitter"></i>{{/if}}{{#if _names}}Twitter{{/if}}
  </a>

  <a class="social-item" href="https://www.facebook.com/durovcode/">
    {{#if _icons}}<i class="fab fa-facebook"></i>{{/if}}{{#if _names}}Facebook{{/if}}
  </a>

</div>
