<div class="sidebar-list-item">
  <div class="box has-x-padding-4 has-y-padding-4" style="padding: 12px;background-color: #f2faff;box-shadow: inset 0 0 2px 1px #d8e8f2;">
    {{> "banners/240x400"}}
    
    <a class="post-card-excerpt" style="color: #4f7697;" href="/ads">Реклама на kod.ru</a>
  </div>
</div>
